.spacer
p.
  Display your audiovisual content in sync across any number of Chromecast devices, in real-time. Control everything
  from a central hub, and push updates with a single click.

hr
#readme
