#footer
  div &copy; 2017 - present #[a(href='https://github.com/superhawk610') #[strong superhawk610]]
  div made with #[img(src='images/green-heart.png', style='height: 15px')] in #[strong Greenville, SC]