.Hero
  display flex
  flex-direction row
  align-items flex-end
  justify-content flex-start

  h2
    margin-bottom 8px

  > .Hero__left
    width 150px

    > svg
      width 150px
      height 125px

  > .Hero__right
    padding-left 10px