a.Link(href='https://github.com/superhawk610/multicast', style='height: 35px')
  img(src='images/github.png')

a.Link(href='https://npmjs.com/package/multicast', style='height: 25px')
  img(src='images/npm.svg')